/* 画面のスタイルシート */
body{
    font-family: "Noto Sans Ja","sans-serif";
    background-color:rgb(240, 240, 236);
    border-top: 10px solid rgb(0, 204, 255);
    margin: 0;
}

/* [header]のスタイルシート */

header{
    margin: 0 auto;
    width: 1076px;
}

/* ぐーぺ保育園 */

.block-logo{
    padding: 60px 0;
}
.block-logo h1{
    margin: 0;
}
.block-logo p{
    margin: 0;
}


/* 電話 */

.block-tel{
    float: right;
    display: flex;
    position: relative;
    bottom: 180px;
}
.block-tel img{
    height: 20px;
    filter: invert(88%) sepia(100%) saturate(2929%) hue-rotate(104deg) brightness(99%) contrast(104%);
}
.block-tel p{
    margin: 0 0 0 8px;
}
.header-1{
   margin: 100px 0 0 200px;
}
.header-1 p{
    margin-top: 8px;
}

/* [main]のスタイルシート */

.main{
    width: 1076px;
    margin:0 auto;
    
}
.block-main{
    width: 1076px;
    display: flex;
    justify-content: center;
}

/* サイドバー */

.block-sidebar{
    width: 250px;
    margin-right: 50px;
}

/* サイドバー「リスト」 */

.block-list{
    list-style: none;
    border: 1px solid rgb(0, 204, 255);
    border-radius: 8px;
    background-color: #fff;
    padding: 0 30px;
    margin-top: 0;
}

.block-list li{
    border-bottom: 1px dotted rgb(0, 204, 255);
    padding: 20px 0 20px 0;
}
/* toppage トップページ*/

.block-list .toppage a{
    color: #000;
    text-decoration: none;
}
.block-list .toppage{
    position: relative;
}
.block-list .toppage::after {
    content: "";
    position: absolute;
    bottom: 29px;
    left: -16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 2px solid #f09b4b;
    border-right: 2px solid #f09b4b; 
}

/* info お知らせ*/

.block-list .info a{
    color: #000;
    text-decoration: none;
}
.block-list .info{
    position: relative;
}
.block-list .info:before {
    content: "";
    position: absolute;
    bottom: 29px;
    left: -16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 2px solid #f09b4b;
    border-right: 2px solid #f09b4b;  
}

/* about 保育園について*/

.block-list .about a{
    color: #000;
    text-decoration: none;
}
.block-list .about{
    position: relative;
}
.block-list .about:before {
    content: "";
    position: absolute;
    bottom: 29px;
    left: -16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 2px solid #f09b4b;
    border-right: 2px solid #f09b4b;  
}

/* overview 施設概要*/

.block-list .overview a{
    color: #000;
    text-decoration: none;
}
.block-list .overview{
    position: relative;
}
.block-list .overview:before {
    content: "";
    position: absolute;
    bottom: 29px;
    left: -16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 2px solid #f09b4b;
    border-right: 2px solid #f09b4b;  
}

/* state 園内の様子*/

.block-list .state a{
    color: #000;
    text-decoration: none;
}
.block-list .state{
    position: relative;
}
.block-list .state:before {
    content: "";
    position: absolute;
    bottom: 29px;
    left: -16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 2px solid #f09b4b;
    border-right: 2px solid #f09b4b;  
}

/* schedule スケジュール*/

.block-list .schedule a{
    color: #000;
    text-decoration: none;
}
.block-list .schedule{
    position: relative;
}
.block-list .schedule:before {
    content: "";
    position: absolute;
    bottom: 29px;
    left: -16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 2px solid #f09b4b;
    border-right: 2px solid #f09b4b;  
}

/* inquiry お問い合わせ*/

.block-list .inquiry a{
    color: #000;
    text-decoration: none;
}
.block-list .inquiry{
    position: relative;
}
.block-list .inquiry:before {
    content: "";
    position: absolute;
    bottom: 29px;
    left: -16px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 2px solid #f09b4b;
    border-right: 2px solid #f09b4b;  
}
.block-list li:last-child{
    border: none;
}

/* スケジュール */

.block-schedule p{
    padding: 0 30px;
}
.block-schedule{
    border: 1px dotted rgb(0, 204, 255);
    width: 250px;
    height: 110px;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}
.block-schedule::after{
    border-bottom: 1px dotted rgb(0, 204, 255);
    content: "";
    width: 200px;
    position: absolute;
    left: 23px;
}
.block-schedule:before {
    content: "";
    position: absolute;
    top: 23px;
    left: 16px;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 204, 255);;
    border-radius: 50%;
}

/* カウンター */

.block-counter .counter{
    padding: 22px 30px;
}
.block-counter{
    border: 1px dotted rgb(0, 204, 255);
    width: 250px;
    height: 170px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
}
.block-counter:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 16px;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 204, 255);
    border-radius: 50%;
}
.block-counter .counter .text{
    border-bottom: 1px dotted rgb(0, 204, 255);
    margin: 0;
    padding-bottom: 15px;
}
.block-counter .counter .contents{
    font-weight: normal;
}

/* メインコンテンツ */

.block-mainContents{
    width: 100%;
}
.block-mainContents .block-mainImg img{
    width: 100%;
}
.block-mainContents .block-mainImg{
    width: 100%;
    position: relative;
    margin-bottom: 80px;
}
.block-mainContents .block-mainImg::after{
    border-bottom: 15px dotted #f09b4b;
    content: "";
    width: 70px;
    display: block;
    position: absolute;
    bottom: -40px;
    left: 315px;
}

/* ごあいさつ */

.block-greetings{
    padding: 20px;
    border: 1px dotted rgb(0, 204, 255);
    border-radius: 8px;
    background-color: #fff;
    margin-bottom:30px;
}
.block-greetings .greetings{
    border-bottom: 1px dotted rgb(0, 204, 255);
    margin: 5px 0;
    padding-bottom: 15px;
    padding-left: 15px;
    position: relative;
}
.block-greetings .greetings::after{
    border-bottom: 35px solid rgb(0, 204, 255);
    width: 4px;
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
}
.block-greetings .text{
    font-weight: unset;
    margin: 26px 0 6px 0;
}
.block-info .event span{
    color: rgb(0, 204, 255);
    margin-right: 15px;
}

/* おしらせ */

.block-info{
    padding: 20px;
    border: 1px dotted rgb(0, 204, 255);
    border-radius: 8px;
    background-color: #fff;
}
.block-info .info{
    border-bottom: 1px dotted rgb(0, 204, 255);
    margin: 5px 0;
    padding-bottom: 15px;
    padding-left: 15px;
    position: relative;
}
.block-info .info::after{
    border-bottom: 35px solid rgb(0, 204, 255);
    width: 4px;
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
}
.block-info .event{
    font-weight: unset;
    margin: 26px 0 6px 0;
}

/* [footer]のスタイルシート */

.block-footer{
    margin-top: 50px;
    background-color: rgb(0, 204, 255);
    text-align: center;
}

/* 保育園のロゴ */

.footer-logo{
    padding-top: 35px;
    padding-bottom: 35px;
}

/* フッター リスト */

.footer-list ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

/* フッター toppage トップページ */

.footer-list .toppage a{
    color: #fff;
    text-decoration: none;
}
.footer-list .toppage{
    position: relative;
}
.footer-list .toppage::after {
    content: "";
    position: absolute;
    bottom: 9px;
    left: -14px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 3px solid #f09b4b;
    border-right: 3px solid #f09b4b; 
}

/* フッター info おしらせ */

.footer-list .info a{
    color: #fff;
    text-decoration: none;
}
.footer-list .info{
    margin-left: 30px;
    position: relative;
}
.footer-list .info::after {
    content: "";
    position: absolute;
    bottom: 9px;
    left: -14px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 3px solid #f09b4b;
    border-right: 3px solid #f09b4b; 
}

/* フッター about 保育園について */

.footer-list .about a{
    color: #ffff;
    text-decoration: none;
}
.footer-list .about{
    margin-left: 30px;
    position: relative;
}
.footer-list .about::after {
    content: "";
    position: absolute;
    bottom: 9px;
    left: -14px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 3px solid #f09b4b;
    border-right: 3px solid #f09b4b; 
}

/* フッター overview 施設概要 */

.footer-list .overview a{
    color: #fff;
    text-decoration: none;
}
.footer-list .overview{
    margin-left: 30px;
    position: relative;
}
.footer-list .overview::after {
    content: "";
    position: absolute;
    bottom: 9px;
    left: -14px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 3px solid #f09b4b;
    border-right: 3px solid #f09b4b; 
}
/* フッター state 園内の様子 */

.footer-list .state a{
    color: #fff;
    text-decoration: none;
}
.footer-list .state{
    margin-left: 30px;
    position: relative;
}
.footer-list .state::after {
    content: "";
    position: absolute;
    bottom: 9px;
    left: -14px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 3px solid #f09b4b;
    border-right: 3px solid #f09b4b; 
}

/* フッター schedule スケジュール */

.footer-list .schedule a{
    color: #fff;
    text-decoration: none;
}
.footer-list .schedule{
    margin-left: 30px;
    position: relative;
}
.footer-list .schedule::after {
    content: "";
    position: absolute;
    bottom: 9px;
    left: -14px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 3px solid #f09b4b;
    border-right: 3px solid #f09b4b; 
}

/* フッター inquiry お問い合わせ */

.footer-list .inquiry a{
    color: #fff;
    text-decoration: none;
}
.footer-list .inquiry{
    margin-left: 30px;
    position: relative;
}
.footer-list .inquiry::after {
    content: "";
    position: absolute;
    bottom: 9px;
    left: -14px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 3px solid #f09b4b;
    border-right: 3px solid #f09b4b; 
}

/* footer-toppageの画像 */

.footer-toppage img{
    height: 40px;
    float: right;
    position: relative;
    bottom: 45px;
    right: 100px;
    filter: invert(72%) sepia(26%) saturate(6428%) hue-rotate(1deg) brightness(105%) contrast(102%);
}

/* footer-text */

.footer-text{
    margin: 0;
    padding: 20px 0 15px 0;
    color: #fff;
}
.footer-text a{
    color: #fff;
    text-decoration: none;
}
.footer-text  p img{
    height: 15px;
}